<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Clicker </title>
</head>
<body>
    <div>
        <h1 class="counter">The button has been pushed <%= data.count %> times(s)</h1>
        <form class="buttonClicker">
            <h3>Push the button to update the count</h3>
            <button type="submit">Push the epic button</button>
        </form>
        <div class="numberBox">

        </div>
        <form class="reset">
            <button type="submit">Reset</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>